/*  font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Orbitron', sans-serif;
    xbox green hex: #0e7a0d;
*/

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.brand {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    color: #0e7a0d;
}

.brand-reverse {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: #F9FAFC;
}

.brand-page {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: #0e7a0d;
}

.btn-confirm {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-reservation {
    background-color: #90ee90;
}

.btn-submit {
    background-color: #0e7a0d;
    color: #F9FAFC;
}

.custom-gray {
    background-color: #0e7a0d;
}

.dark-bg {
    background-color: #0e7a0d;
}

.footer-copy {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.footer a {
    padding-top: 1rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.hr-medium {
    width: 66%;
    margin: auto;
    margin-bottom: 10px;
}

.hr-small {
    width: 33%;
    margin: auto;
    margin-bottom: 10px;
}

.main-bg {
    background-color: #F9FAFC;
}

.template-link {
    text-decoration: none;
    color: #0e7a0d;
    margin-bottom: 1rem;
}

#page-subhead {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #0e7a0d;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #0e7a0d;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.game-link {
    text-decoration: none;
    color: #0e7a0d;
}

.game-link:hover,
.page-link {
    color: #E84610;
}

.game-title {
    margin-top: 20%;
    margin-left: 5%;
}

.game-subtitle {
    margin-left: 5%;
    color: lightgray;
}
