{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="game-title">{{ game.title }}</h1>
                <p class="game-subtitle">{{ game.dev_pub }} | {{ game.release_date }} | <span class="brand-reverse">X<em
                            style="font-weight: 400;">A-Rating:</em> {{ rating_rounded }}</span></p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in game.feature_image.url %}
                <img src="https://res.cloudinary.com/alfa23/image/upload/v1667614281/media/Testcard_F_y882z5.jpg"
                    width="100%">
                {% else %}
                <img src=" {{ game.feature_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if user.is_staff %}
<div class="row text-center">
    <div class="col-lg-10 mt-3 offset-lg-1">
        <a href="{% url 'game_update' game.slug %}" class="btn btn-custom custom-header-rev">EDIT GAME</a>&nbsp;
        <a href="{% url 'game_delete' game.slug %}" class="btn btn-danger custom-header-rev">DELETE GAME</a>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <p class="card-text ">
                    {{ game.game_info | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <!-- The number of users commenting -->
                        <strong class="text-secondary"><i class="far fa-user"></i> {{ game.number_of_commenters }}
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- total_comments variable -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <h3 class="custom-header">Comments:</h3>
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <hr>
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.user }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.posted_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.content | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <h3 class="custom-header">Post a comment:</h3>
                <hr>
                <p>Commenting as: {{ user.first_name }}</p>
                <form method="POST" class="comment-box">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button class="btn btn-custom" type="submit" style="margin-top: 0.5rem;">Submit</button>
                </form>
                {% else %}
                {% if user.is_authenticated %}
                <h3 class="custom-header">Post a comment:</h3>
                <hr>
                <p>Commenting as: {{ user.first_name }}</p>
                <form method="POST" class="comment-box">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button class="btn btn-custom" type="submit" style="margin-top: 0.5rem;">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}