{% extends 'base.html' %} {% block content %}

<!-- {% load crispy_forms_tags %} -->

<div class="container-fluid">
    <div class="row">
        <img src="https://res.cloudinary.com/alfa23/image/upload/v1667615192/media/xbox-2022_la8fmu.png" class="img-fluid" alt="image of green xbox logo">
        <div class="col-lg-10 mt-3 offset-lg-1 text-center">
            {% if user.is_staff %}
            <div class="row text-center">
                <h2 class="custom-header">EDITING GAME:</h2>
            </div>
            <hr class="hr-medium">
            <form action="" method="POST">
                <!-- {{ comment_form | crispy }} -->
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="SUBMIT CHANGES">
            </form>
            {% else %}
            <p>Please <a href="#" class="template-link"><strong>request to join the team</strong> </a>
                for the ability to add forthcoming Xbox games to the database.
            </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}