{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="game-title">{{ game.title }}</h1>
                <p class="game-subtitle">{{ game.release_date }} | {{ game.dev_pub }}</p>
                <hr class="hr-rev">
                <p class="game-subtitle"><span class="brand-reverse"><em style="font-weight: 400;">Average </em>
                    X<em style="font-weight: 400;">A-Rating:</em> {{ rating_rounded }}</span></p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in game.feature_image.url %}
                <img src="https://res.cloudinary.com/alfa23/image/upload/v1667614281/media/Testcard_F_y882z5.jpg"
                    width="100%">
                {% else %}
                <img src=" {{ game.feature_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if user.is_staff %}
<div class="row text-center">
    <div class="col-lg-10 mt-3 offset-lg-1">
        <a href="{% url 'game_update' game.slug %}" class="btn btn-custom custom-header-rev">EDIT GAME</a>&nbsp;
        <a href="{% url 'game_delete' game.slug %}" class="btn btn-danger custom-header-rev">DELETE GAME</a>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-4 card mb-4 mt-3 left top">
            <div class="card-body">
                <!-- https://stackoverflow.com/questions/298772/django-template-variables-and-javascript -->
                <h3 class="custom-header"><em style="font-weight: 400;">Your </em><span class="brand-reg">X<em
                    style="font-weight: 400;">A-Rating:</em> <strong>{{ current_user_rating | safe }}</strong></h3>
                <hr>
                {% if user.is_authenticated %}
                <!-- https://stackoverflow.com/questions/68063119/how-to-store-the-value-of-circular-slider-in-a-variable-and-display-it-in-consol -->
                <div id="handle1" onchange="getValue(this)"></div>
                <svg height="0" width="0">
                    <defs>
                        <linearGradient id="slider1_range_grad" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color:#3cd7fa;stop-opacity:1" />
                            <stop offset="50%" style="stop-color:#fcdc72;stop-opacity:1" />
                            <stop offset="100%" style="stop-color:#E84610;stop-opacity:1" />
                        </linearGradient>
                    </defs>
                </svg>
                <form method="POST" class="comment-box">
                    {% csrf_token %}
                    {{ rating_form | crispy }}
                    <button class="btn btn-custom" type="submit" style="margin-top: 0.5rem;">Rate!</button>
                </form>
                {% else %}
                <p>
                    <strong><em>We value your opinion!</em></strong><br>
                    Please <a href="{% url 'account_signup' %}" class="template-link"><strong>register</strong> </a>or
                    <a href="{% url 'account_login' %}" class="template-link"><strong>sign in</strong></a> to post 
                    your ratings and comments.
                </p>
                {% endif %}
            </div>
        </div>
        <div class="col card mb-4  mt-3">
            <div class="card-body">
                <p class="card-text ">
                    {{ game.game_info | safe }}
                </p>
                <hr>
                <div class="row">
                    <div class="col">
                        <strong class="text-secondary"><i class="fas fa-globe"></i>
                            <a href="{{ game.website }}" class="template-link" target="_blank">
                                 {{ game.website }}</a></strong>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- total_comments variable -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 card mb-4 mt-3">
            <div class="card-body">
                <h3 class="custom-header">Comments:</h3>
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                <hr>
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.user }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.posted_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.content | linebreaks }}
                </div>
                <hr>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <h3 class="custom-header">Post a comment:</h3>
                <hr>
                <p>Commenting as: {{ user.first_name }}</p>
                <form method="POST" class="comment-box">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button class="btn btn-custom" type="submit" style="margin-top: 0.5rem;">Submit</button>
                </form>
                {% else %}
                {% if user.is_authenticated %}
                <h3 class="custom-header">Post a comment:</h3>
                <hr>
                <p>Commenting as: {{ user.first_name }}</p>
                <form method="POST" class="comment-box">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button class="btn btn-custom custom-header-rev btn-sm" type="submit"
                        style="margin-top: 0.5rem;">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}