{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <img src="https://res.cloudinary.com/alfa23/image/upload/v1667615192/media/xbox-2022_la8fmu.png" class="img-fluid" alt="image of green xbox logo">
        <div class="col-lg-10 mt-3 offset-lg-1 text-center">
            <hr>
            <h1><span class="brand-page">Xbox <em style="font-weight: 400;">Anticipator</em></span></h1>
            <h2 id="page-subhead"><em>Discover, rate and discuss upcoming Xbox games!</em></h2>
            <hr class="hr-small">
            {% if user.is_staff %}
            <div class="row text-center">
                <h3><a href="{% url 'game_create' %}" class="template-link"><strong>ADD A GAME</strong></a></h3>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <p>Click on a game to find out more and leave an anticipation rating or comment.</p>
            {% else %}
            <p>Please <a href="{% url 'signup' %}" class="template-link"><strong>register</strong> </a>or
                <a href="{% url 'login' %}" class="template-link"><strong>sign in</strong></a> to leave an anticipation
                rating or comment.
            </p>
            {% endif %}
            <hr>
        </div>
        <div class="col-lg-12 mt-3 left">
            <div class="row">
                {% for game in game_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if 'placeholder' in game.feature_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/alfa23/image/upload/v1667614281/media/Testcard_F_y882z5.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ game.feature_image.url }} ">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="rating"><span class="brand">X<em style="font-weight: 400;">A-Rating:</em></span> {{ rating.rate }}</p>
                                </div>
                            </div>
                            <a href="{% url 'game_detail' game.slug %}" class="game-link">
                                <h3 class="card-title">{{ game.title }}</h3>
                                <p class="card-text">{{ game.info_excerpt }}</p>
                            </a>
                            <hr>
                            <h6 class="card-subtitle">Release Date: {{ game.release_date }}</h6>
                            <hr>
                            <h6 class="card-subtitle">Developer/Publisher: {{ game.dev_pub }}</h6>
                            <hr>
                            <p class="card-text"><i class="far fa-user">&nbsp;</i><i class="far fa-comment"></i> {{ game.number_of_commenters }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}
